body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-xueyI0ftZcJPtb8F1IPswZd8zd7SIu6oZw&usqp=CAU");
    background-size: cover;
}
h1 {
    color: white;
}
p {
    color: white;
}